.results-visibility-form {
	width: 300px;
	padding: 1rem;
	font-size: 0.875rem;

	& :global(.radio-component) {
		margin-bottom: 1rem;
		display: block;

		& :global(.label) {
			font-weight: 600;
			color: var(--primary-grey);
		}

		& :global(.sub) {
			color: var(--secondary-grey);
		}
	}

	&.saving {
		& :global(.radio-component),
		& .save-button {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.save-button {
	border: none;
	width: 100%;
}
