.survey-reset-trigger.disabled {
	pointer-events: none;
	opacity: 0.3;
}

.reset-survey-flyout :global(.flyout-inner) {
	border-radius: 0.25rem;
	padding: 1rem;
	width: 310px;

	&.can-delete {
		& .text {
			margin-bottom: 0;
		}
	}

	& .label {
		display: block;
		font-size: 0.875rem;
		color: var(--primary-grey);
		margin: 0 1.25rem 0.25rem 0;
	}

	& .text {
		display: block;
		font-size: 0.75rem;
		line-height: 1.3;
		color: var(--secondary-grey);
		margin: 0 1.25rem 1.2rem 0;
	}

	& .reset-error {
		font-size: 0.75rem;
		line-height: 1.3;
		margin: 0.25rem 1.25rem 0.75rem 0;
	}

	& .publish-reset {
		color: white;
		text-align: center;
		background-color: var(--primary-red);
		margin-bottom: 0.625rem;
	}
}
